# Maven
/target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
/.idea/